<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".EditarReceta"
            android:exported="false"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name=".SubirRecetas"
            android:exported="false" />
        <activity
            android:name=".ConAlcohol"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".SinAlcohol"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Carga"
            android:exported="false" />
        <activity
            android:name=".Fragmentos.Home"
            android:exported="false" />
        <activity
            android:name=".Fragmentos.Categorias"
            android:exported="false" />
        <activity
            android:name=".menu"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="false" />
        <activity
            android:name=".Mostrar"
            android:exported="false" />
        <activity
            android:name=".Editar"
            android:exported="false" />
        <activity
            android:name=".Registrar"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>